#slot {
  border: solid;
  box-sizing: content-box;
}

.blink {
  animation: blink 0.4s infinite alternate;
  -webkit-animation: blink 0.4s infinite alternate;
}
@keyframes blink {
  to {
    background: #c3ad00;
  }
}
@-webkit-keyframes blink {
  to {
    background: #c3ad00;
  }
}

body {
  background: url("../img/background.webp");
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.gold {
  color: gold !important;
}
.green {
  color: green;
}

.v-align {
  vertical-align: inherit !important;
}

div.modal-footer,
div.modal-body,
div.modal-header {
  background-color: #000000de;
  color: white;
}

.lil-gui {
  --background-color: #000000A0;
  --text-color: white;
  --title-background-color: #000000D3;
  --title-text-color: white;
}

.lil-gui.autoPlace {}
